ipykernel
langchain 
langchain-openai
langchain-experimental
openai
python-dotenv
langgraph
pydantic
datetime


langchain 
langchain-openai 
langchain-core 
langgraph 
pydantic 
python-dotenv
datetime